# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
/react-profile/node_modules/

# Build outputs
dist/
dist-ssr/
/react-profile/dist/
/react-profile/assets/
/react-profile/public/

# User data
users.json

# React profile
/react-profile/favicon.svg
/react-profile/icons.svg
/react-profile/*.local
/react-profile/src/assets/hero.png
/react-profile/src/assets/react.svg
/react-profile/src/assets/vite.svg


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Configs with passwords
.env
*.local